.content :global(.ant-collapse-header) {
  padding-bottom: 0.5rem;
  padding-left: 0 !important;
}

.content :global(.ant-collapse-content-box) {
  padding: 0 !important;
}

.popover :global(.ant-popover-inner) {
  padding: 1rem;
}
