.list :global(.ant-list-header) + div {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}

.shortcutPathDropdown :global(.ant-dropdown-menu .ant-dropdown-menu-item) {
  &:hover {
    background-color: rgb(239 246 255) !important;
    color: rgb(59 130 246) !important;
  }
}

.listItem {
  &:hover {
    background-color: #eff4ff;
  }

  &:first-child:hover {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child:hover {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}